### We are ignoring preemptively anything that is likely to be generated one day ###
# Pyhton
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
# C/C++ build
*.o
*.out
*.a
*.so
*.dll
*.exe
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.aps
*.ncb
*.gch
*.gch.stamp
C_C++/sds/sds/
# Java
*.class
*.jar
# Haskell
*.hi
# Latex
LaTeX/*.pdf
LaTeX/*.synctex.gz
LaTeX/*.aux
LaTeX/*.log
# Tooling
*.gdb-*
*.gdb_*
*.tags
tags
tags.*
tmp-*
# Misc.
*.bak
*.tmp
*.swp
*.swo
*.swn
*.opendb
*.bin
.do_ignore/
