### LOOKS ###
	# Do not trash the screen with ^[char]s
	set echo-control-characters off
	# Color suggestions apropriate for filetype (see $LS_COLORS)
	set colored-stats on
	set colored-completion-prefix on
	# Briefly highlight matching parenthesies
	set blink-matching-paren on
	# Do not page completion suggestions
	set page-completions off

### COMPLEATION
	# case sensitivity off
	set completion-ignore-case on
	# Show results AND cycle results
	"\e[Z":menu-complete
	set show-all-if-ambiguous on
